/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/_theming.scss';

@include mat-core();
$primary: mat-palette($mat-red);
$accent: mat-palette($mat-blue);
$theme: mat-light-theme($primary, $accent);

@include angular-material-theme($theme);

html,
body {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 14px;
    height: auto;
    display: flex;
    width: 100%;
    margin: 0;
    background-color: #eeeded;
}

.submat {
    position: relative!important;
  }
